/**
 * FILEPATH: /c:/Users/Dheeraj/Documents/IIF/IIF NEW DESGIN/style.css
 * 
 * CSS styles for the "Our Achievements" and "Latest Events" sections of the website.
 * 
 * The "Our Achievements" section includes styles for a heading, a list of achievements, and individual achievement items.
 * 
 * The "Latest Events" section includes styles for a slider box, slider items, and event contents.
 */

/* Our Achievements CSS Start */
.flext-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Our Acchivement Secton CSS Start*/
#OurAchievements {
  margin-top: 2rem;
  color: #374758;
  font-size: 1.15vw;
}

.DS-headingText {

  font-size: 3em;
  font-weight: 700;
  color: inherit;
  margin-bottom: 1rem;
  text-align: center;
  /* text-decoration: underline; */
  /* text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em; */
  margin-bottom: 2rem;
}

#OurAchievements .DS-headingText {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em;
  font-size: 3em;
}
#OA-List {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 3em;
  gap: 2em;
  font-size: 0.85vw;
}

.OA-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}
.OA-items-logo i {
  color: #fff;
  background-color: #374758;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  /* padding: 1em; */
  height: 2em;
  width: 2em;
}

.OA-items-data {
  padding: 1em;
}

.OA-items-data-num {
  font-size: 3.5em;
  font-weight: 700;
  justify-content: center;
  height: fit-content;
  line-height: 1em;
  /* color: inherit; */
}
.OA-items-data-text {
  font-size: 1.75em;
  font-weight: 500;
  justify-content: center;
  /* color: inherit; */
}
@media screen and (max-width: 540px) {
  .OA-items-logo i {
    font-size: 7em;
  }
  .OA-items-data-num {
    font-size: 4em;
  }
  .OA-items-data-text {
    font-size: 3em;
  }
}

/* Our Acchivement Secton CSS End*/

/* Latest Events Section CSS Start */

#LatestEvents {
  padding-top: 2em;
  color: #374758;
  font-size: 1.15vw;
  background-color: #f5f6f7;
}

.LE-slider-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}
.LE-slider-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LE-slider-cover {
  display: flex;
  /* gap: 0.5em; */
  margin: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  height: 100%;
  flex-wrap: nowrap;
}

.LE-slider-items {
  width: 0px;
  aspect-ratio: 6/4;
  transition: all 0.3s linear;
}

.LE-slider-items:nth-child(2),
.LE-slider-items:nth-child(3),
.LE-slider-items:nth-child(4) {
  width: calc(100vw / 2.541) !important;
  /* aspect-ratio: 6/4; */
  /* transition: all 0.3s ease-in-out; */
}

@media screen and (max-width: 540px) {
  .LE-slider-items:nth-child(2),
  .LE-slider-items:nth-child(3),
  .LE-slider-items:nth-child(4) {
    width: calc(100vw / 1.5) !important;
  }
}
.LE-items-contens {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  /* border-radius: 3%; */
  transition: inherit;
}
.LE-items-contens {
  scale: 0.75;
}

.LE-slider-items:nth-child(3) .LE-items-contens {
  scale: 1 !important;
}
.LE-items-contens::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #bcc7ce;
  opacity: 0.7;
  border-radius: inherit;
  transition: inherit;
}
.LE-slider-items:nth-child(3) .LE-items-contens::before {
  opacity: 0;
}
.LE-slider-items img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.LE-text {
  display: none;
  opacity: 0;
  height: 0;
  width: 0;
  transition: all 0.3 ease-in-out;
}
/* .LE-items-contens:hover .LE-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 5em;
  background-color: #000000;
  opacity: 0.7;
  color: #fff;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
} */
.LE-text h3 {
  font-size: 2.75em;
}
.LE-text p {
  font-size: 1.4em;
}
@media screen and (max-width: 540px) {
  .LE-text h3 {
    font-size: 4em;
  }
  .LE-text p {
    font-size: 2.6em;
    text-align: justify;
  }
}

.LE-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.5em;
  width: 100%;
  height: 100%;
}

.LE-control i {
  font-size: 2rem;
  color: #374758;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.LE-control i:hover {
  color: #000;
}
#LE-dot-slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  margin: 1em;
  overflow: hidden;
  /* width: 10rem; */
}
.LE-items-dot {
  display: none;
}

.LE-items-dot:nth-child(2),
.LE-items-dot:nth-child(3),
.LE-items-dot:nth-child(4) {
  display: flex;
  border: #374758 solid 0.3rem;
  scale: 1;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  scale: 0.75;
}

.LE-items-dot:nth-child(3) {
  background-color: #374758;
  scale: 1;
}

/* Latest Event Section CSS End */

/* Success story of Start-up @NSUT IIF Start */

#SuccessStory {
  padding-top: 1em;
  color: #374758;
  font-size: 1.15vw;
  /* background-color: #f5f6f7; */
}

#SSS-List {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3em;
  margin-bottom: 0;
  gap: 3em;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  #SSS-List {
    grid-template-columns: 1fr;
    margin: 0 3em 0 3em;
  }
  
}
.SSS-items {
  position: relative;
  /* background-color: #bcc7ce; */
  /* margin: 2em; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-self: center;
  border: #bcc7ce solid 0.1rem;
  cursor: pointer;
}
.SSS-items-img {
  padding-bottom: 4.8rem;
}
.SSS-items-img img {
  /* height: 100%; */
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  /* margin-bottom: 4rem; */
}

@media screen and (max-width: 300px) {
  .SSS-items-img img {
    aspect-ratio: 5/4;
  }
}

.SSS-items-data {
  position: absolute;
  bottom: 0;
  padding: 0 15px 0 15px;
  width: 100%;
  min-height: 4.8rem;
  background-color: #bcc7ce;
  transition: all 0.5s linear;
}
.SSS-items-data h4 {
  overflow: hidden;
  padding-top: 0.25em;
  font-size: 1.6rem;
  font-weight: 600;
  height: 0;
  transition: inherit;
}

.SSS-items-data p {
  max-height: 4.8rem;
  font-size: 1rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.6rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: inherit;
}
/* 
.SSS-items:hover .SSS-items-data h4 {
  height: max-content;
}

.SSS-items:hover .SSS-items-data p {
  -webkit-line-clamp: 10;
  max-height: fit-content;
} */

@media screen and (max-width: 300px) {
  .SSS-items-data{
    max-height: 2rem;
  }
  .SSS-items-data h4 {
    font-size: 2.5rem;
  }
  .SSS-items-data p {
    max-height: 2rem;
    font-size: 0.9rem;
    line-height: 1rem;
    -webkit-line-clamp: 2;
  }
}
.SSS-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
#SSS-add {
  text-decoration: none;
  color: #374758;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  background-color: unset;
  border: none;
  cursor: pointer;
  animation: up-down-wave 1.5s infinite;
}
@keyframes up-down-wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 760px){
  .DS-headingText {
    font-size: 5em !important;
    /* margin-bottom: 0rem; */
  } 
}

@media screen and (max-width: 540px) {
  .DS-headingText {
    font-size: 5em !important;
    margin: 1rem;
  }
}



@media screen and (max-width: 330px) {
  .DS-headingText {
    font-size: 7em !important;
    /* margin-bottom: 0rem; */
  }
}

/* Success story of Start-up @NSUT IIF End */
